@page

<DOCTIME!>
    <html>
    <head>
        <title>Landing</title>
    </head>
    <body>
        <div class="text-center" id="text">
            <h1 class="display-4">Velkommen</h1>
            <button onclick="changePic()">Klikk her for nytt bilde!</button>
        </div>
        <div id="bilderamme" class="text-center">
            <img alt="Bergen" id="imgBergen" class="logo" src="~/images/kartBergen.png">
        </div>
    </body>
</html>
